*{
    padding: 0 ;
    margin: 0 ;
}
body{
    margin: 0;
    width: 100%
}

#root{
    max-width: 1440px;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Poppins,  Arial, Helvetica, sans-serif;
}