.event {
  background-color: #FFFFFF;
  color: black;
  padding: 4rem 2rem;
  text-align: center;
}

.event-title h2 {
  font-size: 2rem;
  margin-top:4rem;
  
}

.noevent {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
  height: auto;
}

.eventgallery {
  font-size: 2rem;
  margin: 2rem 0;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .event {
      padding: 2rem 1rem; 
  }

  .image-container {
      grid-template-columns: 1fr; 
  }

  .event-title h2, .eventgallery {
      font-size: 1.5rem; 
  }
}
